@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Oxygen'),
    url(../fonts/oxygen/oxygen-latin-300-normal.woff2) format('woff2');
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxygen'),
    url(../fonts/oxygen/oxygen-latin-400-normal.woff2) format('woff2');
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Oxygen'),
    url(../fonts/oxygen/oxygen-latin-700-normal.woff2) format('woff2');
}